 <form action="/favourites" method="POST">
        
        <button
          type="submit"
          class="flex items-center gap-2 text-gray-600 border border-gray-300
                 px-4 py-2 rounded-full hover:bg-red-50 hover:text-red-500
                 transition"
        >
          ❤️ Save
        </button>
        <input type="hidden" name="homeId" value="<%= home.id %>">

      </form>